@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: red;
    --color-secondary: red;
    --color-secondary-content: white;
    --color-neutral: white;
    --color-neutral-content: black;
}
